img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.authorization {
  background-color: #b39d9d8f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authorization__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: green;
  text-decoration: none;
  text-align: center;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  color: antiquewhite;
  border: 6px solid #22c722b8;
  line-height: 32px;
  box-shadow: 0 0 20px black;
}

.playlists {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill,minmax(210px,1fr));
  background-color: #121212;
  padding: 30px;
}

.playlist {
  padding: 20px 20px 16px;
  background: #282828;
  border-radius: 8px;
}

.playlist__image {
  margin-bottom: 8px;
  border-radius: 8px;
}

.playlist__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  margin-bottom: 8px;
  font-size: 15px;
}

.playlist__description {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 8px;
  font-size: 12px;
}

.playlist__tracks-count {
  margin: 0;
  color: aquamarine;
  margin-bottom: 8px;
}

.playlist-details {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #212126;
  overflow-x: hidden;
}

.playlist-details__header {
  padding: 32px;
  display: flex;
}

.playlist-details__body {
  padding: 32px;
}

.playlist-details__info {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.playlist-details__title {
  font-size: 56px;
  margin-bottom: 20px;
  color: #fff;
}

.playlist-details__image {
  width: 324px;
  height: 324px;
  margin-right: 20px;
}

.playlist-details__description {
  color: #aeaebd;
  padding-right: 30%;
}

.playlist-details__author {
  color: #fff;
  margin-right: 8px;
}

.playlist-details__tracks-count {
  color: #fff;
}

.playlist-details__tracks {
  width: 80%;
  text-align: left;
  color: #8a8585;;
  font-size: 18px;
}

.playlist-details__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-image: url('../image/close-button.svg');
}

.track {
  color: #fff;
}
